#button_wireframe {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: 300ms;

    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

#button_wireframe:hover{
    transform: scale(105%);
}

.on .off_ {
    display: none;
}

.off .on_ {
    display: none;
}

.on {
    background-color: rgb(22, 194, 22);
    text-shadow: 1px 2px 3px green;
}

.off {
    background-color: rgb(207, 22, 22);
    text-shadow: 1px 2px 3px rgb(124, 2, 2);
}

#mobile button{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 1px;
}

#mobile button:hover{
    background-color: rgb(223, 223, 223);
    border-color: rgb(223, 223, 223);;
}

#mobile{
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    display: none;
}

#mobile section{
    display: flex;
    flex-direction: row;
}

.run_off {
    background-color: rgb(207, 22, 22);
}

.run_on {
    background-color: rgb(22, 194, 22);
}

@media (max-width: 768px) {
    #mobile{
        display: flex;
    }
}